body{
    background: #ffffff;
    color: black;
    font-family: 'Open Sans', serif;
    font-size: 22px;
    display: block;
    margin-bottom: none;
    }
    .darkmode{
        background-color: #070b1d;
        color: antiquewhite;
    }
    #theme-switch{
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 20px;
        right:20px;
    }
    #theme-switch svg{
        fill: rgb(0, 0, 0);
    }
    #theme-switch svg:last-child{
        display: none;
    }
    .darkmode #theme-switch svg:first-child{
        display: none;
    }
    .darkmode #theme-switch svg:last-child{
        display: block;
    }


#titre{
    text-align: center;
}
